.App {
  display: flex;
  justify-content: center;
}

* {
  background-color: #202429;
  color: #fff;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

input[type='text'],
input[type='email'] {
  display: flex;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4287143;
  color: #2b2b2b;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

button[type='submit'] {
  color: #f8f8f8;
  background-color: rgb(5, 9, 255);
  background-image: none;
  border: 1px solid rgb(94, 178, 218);border-radius: 4px;
  height: 30px;
  width: 60px;
}

.form-control {
  margin-bottom: 20px;
}

.error {

  color: red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}